<% if user_signed_in? %>
  <li class="pipe-separate t-light-blue left">
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </li>
<% else %>
  <li class="pipe-separate t-light-blue left">
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>
