<article>
	<% @array.each do |row| %>
		<div class="Row">
			<div class="Grid">
				<% row.compact.each do |p| %>
					<div class="Grid--1ofX">
						<a href="/posts/<%= p.id %>">
							<% @user =  User.find(p.user_id) %>
							<% if user_signed_in? &&  current_user.id==@user.id %>
							 <%= image_tag cf_url(p.image.path), class:"no-bg" %>
								<% else %>
							 <%= link_to(image_tag("no-image.png", width: 200,height: 200, alt: "No image")) %>
							 <% end %>
							</a>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>

</article>
